--
-- PostgreSQL database dump
--

\restrict PheAmRjvRPoU8xu3SvccjUk8hMjrBU1YjEwTZe4eZgNStx3AIO4Qwy09tgrKMiJ

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Category; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Category" AS ENUM (
    'transportation',
    'accomodation',
    'shopping'
);


ALTER TYPE public."Category" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Attractions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attractions" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "regionId" text NOT NULL
);


ALTER TABLE public."Attractions" OWNER TO postgres;

--
-- Name: Contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Contact" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    country text NOT NULL,
    interests text NOT NULL,
    message text NOT NULL,
    submitted_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Contact" OWNER TO postgres;

--
-- Name: InfoItems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InfoItems" (
    id text NOT NULL,
    icon text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    category public."Category" NOT NULL
);


ALTER TABLE public."InfoItems" OWNER TO postgres;

--
-- Name: Regions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Regions" (
    id text NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    color text NOT NULL,
    summary text NOT NULL
);


ALTER TABLE public."Regions" OWNER TO postgres;

--
-- Data for Name: Attractions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Contact; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Contact" (id, name, email, country, interests, message, submitted_at) FROM stdin;
1418c2ea-7bdc-4401-a1ea-e5d40accccea	vergergfeff	creqwqw@ferfge.frefre	regfre	fgegff	erfefew	2026-05-05 03:37:18.603
\.


--
-- Data for Name: InfoItems; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Regions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Regions" (id, key, name, color, summary) FROM stdin;
1	north	North	#22c55e	Urban energy & nature: Taipei 101, night markets, Jiufen's old streets, Yehliu's unique geology.
2	central	Central	#06b6d4	Misty mountains & lakes: Sun Moon Lake cycling, Taichung art, Alishan sunrise forests.
3	south	South	#f97316	Historic flavors & beaches: Tainan temples, Kaohsiung harbor art, Kenting's tropical coast.
4	east	East	#	Wild coasts & gorges: Taroko marble cliffs, Hualien ocean vistas, Taitung hot air vibes.
\.


--
-- Name: Attractions Attractions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attractions"
    ADD CONSTRAINT "Attractions_pkey" PRIMARY KEY (id);


--
-- Name: Contact Contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_pkey" PRIMARY KEY (id);


--
-- Name: InfoItems InfoItems_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InfoItems"
    ADD CONSTRAINT "InfoItems_pkey" PRIMARY KEY (id);


--
-- Name: Regions Regions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Regions"
    ADD CONSTRAINT "Regions_pkey" PRIMARY KEY (id);


--
-- Name: Attractions Attractions_regionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attractions"
    ADD CONSTRAINT "Attractions_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES public."Regions"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict PheAmRjvRPoU8xu3SvccjUk8hMjrBU1YjEwTZe4eZgNStx3AIO4Qwy09tgrKMiJ

